
.container{
    display: flex;
    width:100%;
    height: 800px;
    background-color: rgb(127, 138, 255);
   /* animation: move 1s ease;*/
}
.container-right{
    width:50%;
    background-color: black;
    color: aliceblue;
}

.container-left{
    width:50%;
    background-color: black;
    color: aliceblue;
   
}

