
.container{
    display: flex;
    width:100%;
    height: 800px;
    background-color: white;
    

   /* animation: move 1s ease;*/
}


.retate-left{
    display: flex;
    width:300px;
    
   
    height: 300px;
    background-color:rgb(119, 162, 33,0);
  
    align-items: center;
    justify-content: center;
  
   
}


.container-left-big{
    display: flex;
    width:500px;
    
   
    height: 500px;
    margin-top:10%;
    
   
    align-items: center;
    justify-content: center;
  
  
    background-color:rgb(119, 162, 33,0);
   
}


.container-left{
    display: flex;
    width:300px;
    
   
    height: 300px;
   
    
    border-radius: 100px;
    box-shadow: 5px 8px 10px  5px  gray;
    color: black;
    background-color:white;
    transform: rotate(-45deg) ;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
   
    overflow: hidden;
   
}


.left-div{
    width:100%;
    height: 100%;
   
    
    border-radius: 200px;
   
    background-image: url('../../Assets/photo_profile.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    transform: rotate(45deg) ;
    align-items: center;
    justify-content: center;
   


}

.container-right{
    display: flex;
    
    
    opacity: 0.9;
    width:600px;
    height: 600px;
    border-radius: 50px;
    box-shadow: 5px 8px 10px  5px  gray;
  
    margin-left: 10%;
    margin-top:5%;
    
    color: black;
    background-color: white;
    
    align-items: center;
 
    overflow:hidden;
}
.right-div{

    display: flex;
    width:100%;
    flex-direction: column;
   
}
.lines{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;

    align-items: center;

}

.line{
    background-color: #FFB300;
    margin-right: 80px;
    margin-left: 40px;
    transform: rotate(-45deg) ;
    width: 2rem;
    height: 2rem;

}
.line1{
  
    position: relative;
    width: 10%;
    height: 0px;
    background-color: #FFB300;
    transform: rotate(45deg) translate(-140px, 200px);
    overflow-x: hidden;
}


.line2{
    position: relative;
  
    width: 10%;
    height: 0px;
    right: 90%;
    background-color: #FFB300;
    transform: rotate(45deg) translate(420px, -200px);
    overflow-x: hidden;
}

@keyframes example {
    from {width:300px;height: 300px;}
    to {width:200px;height: 200px;}
  }
@media screen and (max-width:1050px) {


    .container{
       
        flex-direction: column-reverse;
       
    }
    .container-right{
        width: 80%;
        height: 70%;
        position: absolute;
        margin-bottom: 10%;
    }

    .container-left-big{
        position: relative;
        top: -50%;
     
        margin-left: 10%;
        width: 80%;
    }
    .container-left{
        width: 200px;
        height: 200px;
        border-radius: 50px;

    }
    .retate-left{

        width: 200px;
        height: 200px;
       
    }
    .left-div{
        width: 200px;
        height: 200px;
       
        

    }
    
   

  }


  @media screen and (max-width: 768px) {
    .container-right{
        width: 80%;
        height: 70%;
        position: absolute;
        margin-bottom: 30%;
    }

    .container-left-big{
        position: relative;
        top: -55%;
     
        margin-left: 10%;
        width: 80%;
    }


    .container-left{
        width: 100px;
        height: 100px;
        border-radius: 25px;

    }
    .retate-left{

        width: 100px;
        height: 100px;
       
    }
    .left-div{
        width: 100px;
        height: 100px;
       
        

    }
   
    .lines h2{

        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
    }

    .line{
       width: 0rem;
       height: 0rem;
       margin-right: 10%;
       margin-left: 10%;
    }

    .line1{
  
        position: relative;
        width: 20%;
        height: 0px;
        background-color: #FFB300;
        transform: rotate(45deg) translate(-140px, 200px);
        overflow-x: hidden;
    }
    
    
    .line2{
        position: relative;
      
        width: 20%;
        height: 0px;
        right: 120%;
        background-color: #FFB300;
        transform: rotate(45deg) translate(420px, -200px);
        overflow-x: hidden;
    }



  }